

{{!-- <form class="auth-form" action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form> --}}

<div class="login-form">
    <form action="/auth/login" method="post" id="form-container">
        <h2 class="text-center"  style="padding-bottom: 1vw">Log in</h2>
        {{!-- Display messages --}}
           {{#if message}}
            <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{message}}
            </div>
            {{/if}}
        {{!-- END Display messages --}}       
        <div class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="E-mail" required="required">
        </div>
        <div class="form-group">
            <input type="password" id="password"  name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="" class="pull-right">Forgot Password?</a>
        </div>        
    </form>
    <p class="text-center"><a href="/auth/signup">Create an Account</a></p>
</div>